<% topic_view(params[:param], opts: {include_suggested: false, include_related: false, post_number: 1 }, instance_var: "topic_view") %>

<article class="topic post blog-post">
  <header class="header canvas">
    <h1 class="title"> <%= @topic_view.title %> </h1>
    <p class="excerpt"> <%= @topic_view.summary.split[0...20].join(' ').gsub("[image]", "") %>…</p>

    <div class="article-byline">
      <section class="topic-byline">
        <ul class="author-list">
          <li class="author-list-item">
            <%= user_profile(@topic_view.topic.user, { include_avatar: true, avatar_size: 60 }) %>
          </li>
        </ul>
        <div class="topic-meta">
            <span class="bull">•</span>
            <span class="date"><%= short_date(DateTime.strptime(@topic_view.published_time, '%FT%T%:z')) %></span>
        </div>
      </section>
    </div>
  </header>
    <section class="content canvas">
      <%= @topic_view.posts.first.cooked.html_safe %>
    </section>
</article>

<div class="subscribe <% if current_user %>user<% else %>guest<% end %>">
  <% if current_user %>
    <img width="35" height="35" class="subscribe-avatar" src="<%= current_user.small_avatar_url %>">
    <div class="subscribe-label subscribe-user">Subscribe</div>
  <% else %>
    <div class="subscribe-icon"><%= SvgSprite.raw_svg('user-circle') %></div>
    <div class="subscribe-label">Subscribe</div>
  <% end %>
</div>

<% if current_user %>
  <div class="subscribe-modal">
    <div class="subscribe-modal-content">
      <div class="modal-header">
        <h3 class="subscribe-title">Subscribe</h3>
        <span class="subscribe-modal-close"><%= SvgSprite.raw_svg('times') %></span>
      </div>
      <div class="modal-content">
        <div class="subscribe-checkbox">
          <span>Subscribe to blog</span>
          <input type="checkbox" class="checkbox" checked=<%= current_user.present? %>/>
        </div>
      </div>
      <div class="modal-footer">
        <div class="subscribe-buttons">
          <button type="button" class="btn btn-label btn-subscribe">Submit</button>
          <a class="subscribe-cancel-link">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
