<% topic_view(params[:param], opts: {include_suggested: false, include_related: false, post_number: 1 }, instance_var: "topic_view") %>

<article class="topic post blog-post">
    <header class="header canvas">
      <h1 class="title"> <%= @topic_view.title %> </h1>
      <p class="excerpt"> <%= @topic_view.summary.split[0...20].join(' ').gsub("[image]", "") %>… </p>

      <div class="article-byline">
          <section class="topic-byline">
              <ul class="author-list">
                  <li class="author-list-item">
                      <%= user_profile(@topic_view.topic.user, { include_avatar: true, avatar_size: 60 }) %>
                  </li>
              </ul>
              <div class="topic-meta">
                  <span class="bull">•</span>
                  <span class="date"><%= short_date(DateTime.strptime(@topic_view.published_time, '%FT%T%:z')) %></span>
              </div>
          </section>
      </div>
    </header>
    <section class="content canvas">
      <%= @topic_view.posts.first.cooked.html_safe %>
    </section>
</article>
