<div class="contents">
  <div class="controls left">
    <a class="btn page-first">Top<%= SvgSprite.raw_svg('angle-double-up') %></a>
    <a class="btn page-first" href="/c/">All Posts<%= SvgSprite.raw_svg('angle-double-up') %></a>
  </div>

  <div class="post-feed">    
    <% topic_list(opts: { category: 'blog', no_definitions: true, per_page: 10, page: params[:page] }).each.with_index do |topic, index| %>
      <% if index == 0 %>
        <article class="post-card post tag-getting-started post-card-large">
          <a class="post-card-image-link" href="<%= topic.url %>">
            <img class="post-card-image" src="<%= topic.image_url %>">
          </a>
          <div class="post-card-content">
              <a class="post-card-content-link" href="<%= topic.url %>">
                  <div class="post-card-header">
                    <h2 class="post-card-title"><%= emoji_codes_to_img(topic.fancy_title) %></h2>
                  </div>
                  <section class="post-card-excerpt">
                    <%= "#{topic.excerpt.split[0...30].join(' ')} …" %>
                  </section>
              </a>
              <div class="post-card-meta">
                <div class="post-card-byline-content">
                  <div class="author"><%= user_profile(topic.user, include_avatar: true, avatar_size: 60) %></div>
                  <div class="bull">•</div>
                  <div class="post-card-byline-date"> <%= short_date(topic.created_at) %> </div>
              </div>
              </div>
          </div>
        </article>
      <% else %>
        <article class="post-card post tag-getting-started ">
            <a class="post-card-image-link" href="<%= topic.url %>">
                <img class="post-card-image" src="<%= topic.image_url %>">
            </a>

          <div class="post-card-content">
              <a class="post-card-content-link" href="<%= topic.url %>">
                  <div class="post-card-header">
                        <h2 class="post-card-title"><%= emoji_codes_to_img(topic.fancy_title) %></h2>
                  </div>
                  <section class="post-card-excerpt">
                      <%= "#{topic.excerpt.split[0...20].join(' ')} …" %>
                  </section>
                /a>
            <div class="post-card-meta">
              <div class="post-card-byline-content">
                  <div class="author"><%= user_profile(topic.user, include_avatar: true, avatar_size: 60) %></div>
                  <div class="bull">•</div>
                  <div class="post-card-byline-date"> <%= short_date(topic.created_at) %> </div>
              </div>
            </div>
          </div>
       </article>
     <% end %>
   <% end %>
  </div>

  <div class="controls right">
    <a class="btn page-prev">Previous<%= SvgSprite.raw_svg('angle-up') %></a>
    <a class="btn page-next">Next<%= SvgSprite.raw_svg('angle-down') %></a>
  </div>
</div>