<div class="contents">
  <div class="controls left">
    <a class="btn page-first">Top<%= SvgSprite.raw_svg('angle-double-up') %></a>
    <a class="btn page-first" href="/c/">All Posts<%= SvgSprite.raw_svg('angle-double-up') %></a>
  </div>

  <div class="post-feed">
    <% topic_list(opts: { category: 'blog', no_definitions: true, per_page: 10, page: params[:page] }).each.with_index do |topic, index| %>
      <%= render partial: "topic_list_item", locals: {
        topic: topic,
        topic_item_classes: "tag-getting-started #{index == 0 ? "post-card-large" : ""}",
        topic_excerpt_length: index == 0 ? 30 : 20,
        user_profile_opts: {
          include_avatar: true,
          avatar_size: 60
        }
      } %>
    <% end %>
  </div>

  <div class="controls right">
    <a class="btn page-prev">Previous<%= SvgSprite.raw_svg('angle-up') %></a>
    <a class="btn page-next">Next<%= SvgSprite.raw_svg('angle-down') %></a>
  </div>

</div>